/1st Warley Welcome Pack 2020-11-29.pdf
/account-names - Copy.csv
/account-names-backup - Copy.csv
/account-names-backup.csv
/account-names.csv
/Archive From Sandra
/Archived CAF Exports
/CAF Tranasction Query - By Month.xlsx
/CSV_Export Feb2020.csv
/CSV_Export-output-used for 24-02-20 meeting.xlsx
/CSV_Export-output.csv
/CSV_Export-output.xlsx
/CSV_Export.csv
/CSV_Export999.xlsx
/Famalies.xlsx
/FamaliesMembers.xlsx
/FamaliesPayref.xlsx
/Feb 2020
/jupyter
/osm_members_2020-09-05-182754 - subs analysis 11-2021.xlsx
/osm_members_2020-09-05-182754 - subs analysis.xlsx
/payment ref by member.csv
/Sep 2020
/subs reference for member ID.xlsx